<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }} </title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body> 
      <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/Baja SAE">Baja SAE</a></li>
        <li><a href="/ASME Rocketry">ASME Rocketry</a></li>
        <li><a href="/3D-Printing">3D-Printing</a></li>
        <li><a href="/Matlab">Matlab</a></li>
      </ul>
      </nav>
      <div class="container">

      {{ content }}

      </div><!-- /.container -->
      <footer>
        <p> How to reach me:</p>
          <ul>
            <li><a href="mailto:andrew.gothro@comcast.net">email</a></li>
            <l1><a href="https://www.linkedin.com/in/andrew-gothro-58324415b/">Linkedin<a/></l1>
            <li><a href="https://github.com/andy-gothro">github.com/andy-gothro</a><li>
            </ul>
      </footer>
    </body>
  </html>
